.navigate-container {
  height: 90px;
  padding: 0 80px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #3978d6;
}

.navigate-menu,
.navigate-list {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navigate-menu select,
.navigate-list {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #6b7a99;
}

.input-container {
  width:9%;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  font-size: 16px;
  font-weight: bold;
  color: #adb8cc;
  border: none;
  background-color: transparent;
  padding-left: 35px;
}

.right-box {
  width: 208px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #6b7a99;
}
