.container {
  height: 2675px;
  background-color: #f7f8fa;
  padding: 0 80px; 
}

@media only screen and (max-width: 390px) {
  .container {
    width: 100%; 
    position: relative;
    padding: 1px 10px; 
  }
}

